name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CI: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Clone Repository
        uses: actions/checkout@v3

      - name: Set Node.js Version
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Check Prettier
        run: npm run format

      - name: Check Prettier
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Install example dependencies
        working-directory: ./example
        run: npm ci

      - name: Build example app
        working-directory: ./example
        run: npm run build

      - name: Deploy example to GitHub Pages
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./example/dist
